$blue: #0a4884;
$green: #01bd01;

.buttonTemplates {
  color: $green;
  margin: 10px 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid $green;
  padding: 0 15px 0 5px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.4s;
  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: $green;

    svg {
      color: #fff;
    }
  }
  svg {
    font-size: 50px;
    color: $green;
  }
  /* 
  span {
    background-color: $green;
    padding: 0 15px 0 5px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: -10px;
  } */
}
