$blue: #0a4884;
$green: #01bd01;

.summary {
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  &__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(#000, 0.25);
    width: 530px;
    // height: 530px;
    padding: 30px 50px;
  }

  &__title {
    text-align: center;
    & span {
      font-size: 13px;
    }
  }

  &__textarea {
    padding-top: 15px;
    width: 100%;
    & textarea {
      min-height: 295px;
      max-height: 295px;
    }
  }

  &__buttonsContinueBack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
  }

  &__buttonBack {
    background-color: $blue;
    color: #fff;
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin-top: 10px;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  &__button {
    background-color: $green;
    color: #fff;
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin-top: 10px;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
    cursor: pointer;
  }
}
