@import "~bootstrap/scss/bootstrap";

$blue: #0a4884;
$green: #01bd01;

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: $blue;
}

.footer {
  height: 80px;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  border-top: 1px solid #9d9d9d;
}
